body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    background-color: black;
}

#panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 250px
}

#logo {
    width: 100px;
    margin-bottom: 10px;
}

#submit-button {
    margin: 5px 0;
    padding: 5px;
    width: 80%;
}

#api-key, #structure-id, #dropdown, #question-text, #clear-memory {
    margin: 5px 0;
    padding: 5px;
    width: 80%;
    box-sizing: border-box;
    background-color: #444;
    border: 1px solid #666;
    color:white;
}

#api-key:hover, #structure-id:hover, #question-text:hover, #api-key:focus, #structure-id:focus, #question-text:focus {
    outline: 1px solid #aaa;
}

#dropdown {
    appearance: none; /* Remove default dropdown styling */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cpath fill='white' d='M7 10l5 5 5-5z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 5px center;
    padding-right: 25px;
    background-color: #444;
    border: 1px solid #666; 
    color:white;
}

#dropdown:hover, #dropdown:focus {
    outline: 1px solid #aaa;
}

#question-text {
    display: none; /* Initially hidden */
}

#clear-memory {
    display: none; /* Initially hidden */
}

#content-area {
    margin-top: 10px;
    width: 100%;
    height: 300px;
    overflow-y: auto;
    background-color: #333;
    padding: 10px;
    box-sizing: border-box;
    white-space: pre-line;
}

#text-size-controls {
    display: flex;
    justify-content: right;
    width: 95%;
    margin-top: 10px;
}

#text-size-controls button {
    padding: 5px 10px;
    font-size: 12px;
    background-color: #555;
    color: white;
    border: none;
    cursor: pointer;
}

#text-size-controls button:hover {
    background-color: #777;

input[type="password"] {
    font-family: Arial, sans-serif;
    -webkit-text-security: disc; /* Ensures dots are displayed in WebKit browsers */
}